*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

input{
    -webkit-user-select: auto; /* Safari */
    -ms-user-select: auto; /* IE 10 and IE 11 */
    user-select: auto; /* Standard syntax */
}

html{

    scroll-behavior: smooth;
    overflow: hidden;
    transition: 0.1s;

}

#info{
    text-align: center;
    margin-top: 50px;
    font-family: Ubuntu;
}

/* body{ */
    /* background-image: url(./icons/01.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center;
    background-size:    auto; */
/* } */

.center{
    position: relative;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #b12c2c;
    width: 100%;
    height: 70%;
    /* z-index: 2; */
}

.center h1{
    margin-top: 20px;
    margin-bottom: 15px;
}


/* .center h1{
    display: block;
    margin: 25px;
}
.center p{
    display: block;
} */
/* .center p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

nav{
    width: 100%;
    background-color: #12caab;
    color:white;
    font-size: 17px;
    font-weight: 900;
    font-family: Ubuntu;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    position: fixed;
    z-index: 2;
    /* border: 2px solid red; */
}


a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
    cursor:default;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    
}


.icon-navbar{
    float: right;
    /* padding-top: 3px;
    padding-bottom: 3px */
    margin: 0;
}

#side-icon{
    float: left;
    padding-right: 50px;
}

#app-title{
    margin-left: 300px;   
}
#top-navbar{
    padding: 0px;
}
#right-arrows{
    margin: 0px;
    padding: 10px;
    
}

#left-arrows{
    margin: 0px;
    padding: 10px;
}

#right-arrows:hover{
    background-color: red;
 
    /* z-index: -1; */
}

#left-arrows:hover{
    background-color: rgb(3, 85, 80);
}

#minus:hover{
    background-color: rgb(3, 85, 80);
}
/* 
#side-icon:hover{
    background-color: rgb(3, 85, 80);
} */

.dropdown{
    display: inline;
    position: relative;
    float: right;
}

.dropdown:hover .dark-mode-content{
    display: block;
}


.dark-mode-content{
    display: none;
    position: absolute;
    right: 0;
    top: 5px;
    background-color:  #12caab;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dark-mode-content a {
    color: white;
    padding: 18px 18px;
    text-decoration: none;
    margin: 0;
    display: block;
}


#login-sidebar{
    border-bottom: 2px solid black;
    padding: 5px;
}
#signup-sidebar{
    border-bottom: 2px solid black;
    padding: 5px;
}

.dark-mode-content a:hover {
    font-weight: bold;
    color: #05cac6;
    background-color: #f1f1f1;

}

#blank_a:hover{
    background-color:  #12caab;
}

.dark-mode-content a:hover{
    background-color: white;
}

/* Side NavBar */
.side-navbar{
    position: fixed;
    width: 16.35%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    border-right: 1.5px solid #12caab;
    
    top: 21px;
    background-color: #edece8;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 15px;
}


.side-navbar a{
    padding: 18px 18px 18px 22px;
    font-size: 17px;
    margin-right: 0;
    color: black;
    display: block;
    transition: 0.3s;
    font-weight: 900;
    /* letter-spacing: 2px; */
}


.side-navbar a:hover{
    color: white;
    background-color: #787b7b !important;
    
    transition: 0.4s;
}

#loged-in{
    padding: 18px 18px 18px 22px;
}
#loged-in:hover{
    background-color: #edece8 !important;
    color: black;
    cursor: pointer;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: rgb(41, 219, 29);
    border-radius: 50%;
    display: inline-block;
}

/* Step0 */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#stage{
	/* width: 83.65%; */
	height:100%;
	position:absolute;
	top:0;
	left:16.35%;
    padding: 50px;
	transition:top 0.4s;
}



#stage > div{

	height:100%;
	position:relative;

}
#parametre{
    margin-bottom: 80px !important;
}

#step0{
    background-color: #c2fdfc;
    top: 35px;
}
#step1{
    background-color: white;
}
#step2{
    background-color: white;
}
#step3{
    background-color: white;
}
#step4{
    background-color: white;
}
#step5{
    background-color: white;
}

#step6{
    background-color: #c2fdfc;
    margin-top: 80px;
    padding: 10px !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
    height: 5px;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    font-weight: 17px;
  }
  
  th {
    background-color: #1b7969;
    color: white;
  }

  .logout-button{
    display: inline-block;
    align-self: none;
    padding: 1rem 1.5rem;
    border-radius: 0px;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-bottom: 7px;
    color :#ffffff !important;
    border: 2px solid #12caab;
    background-color: #055857;
  }
  .dashboard-input{
    box-shadow: 0 0 4px #D8E1E8;
    width: 100% !important;
    /* font-size: 0.8rem; */
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 35px;
    border: 1px solid #d5e3ec;
    text-align: center;
    color: #b12c2c;
    font-family: Ubuntu;
    font-size: 25px;
    
}

.dashboard-input:focus{
    background-color: #ddd;
}

#step6 h1{
    font-family: Ubuntu;
    font-size: 95px;
    text-align: center;
    color: rgb(4, 38, 38);
}

/* Logout Modal */

#logout-modal{
    visibility:hidden;
    background-color: #74f1f1;
    /* margin-top: 80px;
    margin-bottom: 20px; */
    left: 0;
    right: 0;
    top: -88px;
    bottom: 0;
    z-index: 4;
    height: 100vh;
}

#logout-modal h1{
    font-family: Ubuntu;
    font-size: 95px;
    text-align: center;
    color: rgb(8, 77, 77);
   
}

#hour{
    font-family: Ubuntu;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
}

#date{
    font-family: Ubuntu;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
}

#logout-input{
    box-shadow: 0 0 4px #D8E1E8;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #787b7b;
    border: 3px solid #000000;
    color: white;
}

#logout-password input[type = checkbox]{
    width: 25px;
    height: 25px;
}

#logout-modal{
    background-image: url();
    /* background-image: url(Writing\ room-bro.svg); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#logout-a{
    cursor: pointer;
}


/* Modal home */

/* Buttons */

.button-home{
    display: inline-block;
    align-self: none;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-bottom: 80px;
    margin-top: 25px;
    background-color: #12caab;
    color: white;
}

.button-home:hover{
    background-color: rgb(79, 211, 235);
    color: rgb(0, 0, 0);

    opacity:1;
}

#step4 a{
    display: inline-block;
    align-self: none;
    width: 175px;
    padding: 1rem 1.5rem;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
    color :#12caab !important;
    border: 2px solid #12caab;
}
#step4 a:hover{
    cursor: default;
    color: white !important;
    background-color: #12caab;
}

#step4 input{
    box-shadow: 0 0 4px #D8E1E8;
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    /* border-radius: 5px; */
    margin-top: 20px;
    border: 3px solid #ddd;
    /* user-select: none; */
    /* user-select: auto; */
}


#step4 input:focus{
    background-color: #ddd;
    outline: none;
}

#a-input{
    vertical-align: middle;
}
.cover{
    width: 65%;
}

/* #step0{
    background-image: url("./Social\ media-rafiki.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 300px 500px;
    
} */


#step0{
    background-image: url("./blog-post-animate.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px 518px;
    padding-left: 15px;
    
}

#step1{
    background-image: url("./fingerprint-animate.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px 400px;
    margin-right: 50px;
}



[class*="if-"]{
	display:none;
}


body.encrypt .if-encrypt{
	display:block;
    /* height: 100%; */
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;

}



body.decrypt .if-decrypt{
	display:block;
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;

} 


body.open .if-open{
	display:block;
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 110px;
}
.if-decrypt h1{
    font-family: Ubuntu;
}

.if-encrypt h1{
    font-family: Ubuntu;
}

body.help .if-help{
	display:block;
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

/* 
body.help {
    background-image: url("./Problem\ solving-pana.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    padding-left: 15px;
} */

body.dashboard .dashboard{
    display: block;
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

body.parametre .parametre{
    display: block;
    background-color: #c2fdfc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 110px;
}
#step7{
    top: 100px;
    padding-left: 0px !important;
    background-color: white;
    background-image: url(./secure-data-animate.svg);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: right top;
}
#step7 h1{
    font-family: Ubuntu;
    font-size: 65px;
    text-align:left;
    color: rgb(4, 38, 38);
    margin-bottom: 20px;
}
#step7 label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#step7 select{
    box-shadow: 0 0 4px #D8E1E8;
    width: 55% !important;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 35px;
    border: 1px solid #d5e3ec;
    text-align: center;
    color: #b12c2c;
    background-color: white;
    font-family: Ubuntu;
    font-size: 35px;
}
/* .content{
	position:absolute;
	text-align:center;
	left:0;
	top:50%;
	width:100%;
} */

.content input[type=file]{
	display:none;
}

/* Login page */

.login-container{
    position: relative;
}


#login-title{
    /* text-align: center; */
    color: aqua;
    margin-bottom: 50px;
    margin-bottom: 25px;
}
.login-content{
    width: 60%;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 2;
    margin: 8px;
}

.login-part{
    margin: 50px;
    width: 100%;
}

#login-part{
    margin-bottom: 10px;
}

.login-bottom{
    
    font-size: small;
    margin-left: 58px;
    color: black;
    float: right;
}

.login-span{
    color: red;
}
.login-span:hover{
    cursor: pointer;
}
.login-label{
    color :rgb(0, 0, 0);
    font-weight: 900;
   
}



/* .border-color{
    background-color: #545350;
    height: 750px;
    
    z-index: 2;
    padding: 8px 20px;
} */

.browse{
    display: inline-block;
    align-self: none;
    padding: 1rem 1.5rem;
    border-radius: 0px;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-bottom: 7px;
    color :#12caab !important;
    border: 2px solid #12caab;

}

.browse:hover{
    cursor: default;
    color: white !important;
    background-color: #12caab;
}

#alert-encrypt{
    /* margin-top: 30px; */
    margin-bottom: 45px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98.5%;
}



#alert-decrypt{
    margin-bottom: 45px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98.5%;
}

#alert-encryption{
    /* margin-top: 30px; */
    margin-bottom: 45px;
    /* margin-left: 10px; */
    margin-right: 10px;
    width: 98.5%;
}



#alert-decryption{
    margin-bottom: 45px;
    /* margin-left: 10px; */
    margin-right: 10px;
    width: 98.5%;
}


.if-encrypt h1{
    margin-bottom: 70px;
}


.if-decrypt h1{
    margin-bottom: 70px;
}

.back-color{
    
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.back-color:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    
}   

#step4 .button{
    width: 200px !important;
}


.sub-back-color{
    width: 100%;
    background-color: #edece8;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
}

.login-button{
    display: inline-block;
    align-self: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-bottom: 7px;
    background-color: #12caab;
    color: white;
}

.login-button:hover{
    background-color: rgb(79, 211, 235);
    color: rgb(0, 0, 0);
    opacity:1;
}

.login-input{
    box-shadow: 0 0 4px #D8E1E8;
    width: 100%;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #d5e3ec;
}

.login-input:focus{
    background-color: #ddd;
}



/* SignUp Page */

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 1s;
    margin-bottom: 8px;
    width: 100%;
}

.alert.warning {
    background-color: #12caab;
}

.alert.danger {
    background-color: red;
}

.alert.sucess {
    background-color: rgb(31, 237, 86);
}

.signup-input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 16px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.signup-input :focus {
    background-color: #ddd;
    outline: none;
}



.signup-button{
    display: inline-block;
    align-self: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: 0 0 5px #949596 ;
    margin-bottom: 7px;
    background-color: #12caab;
    color: white;
}

.signup-button:hover{
    background-color: rgb(79, 211, 235);
    color: rgb(0, 0, 0);
}

.modal-content-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal {
    display: block; 
    position: absolute;
    z-index: 1; 
    left: 0;
    top: (-100 + '%');
    width: 100%;
    height: 95%;
    overflow: hidden; 
    background-color: #f7f7f7;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    /* top: 2px;
    bottom: 2px; */
}



label{
    color :rgb(79, 211, 235);
    font-weight: 900;
}

.modal-content {
    padding-top: 0px;
    background-color: #fefefe;
    margin: 5% auto 5% auto; 
    border: 2px solid #12caab;
    width: 80%; 
}
  
hr{
    border: 1px solid #12caab;
    margin-bottom: 25px;
}

/* STep top properties */
/* #step1 .content{	margin-top: -240px;}
#step2 .content{	margin-top:-110px;}
#step3 .content{	margin-top: -157px;}
#step4 .content{	margin-top: -160px} */

/* 
#choosing-encrypt-file{
    top: 300%;
} */

#step3{
    top: 230px;
    padding: 40px;
    margin-top: 90px;
    margin-bottom: 90px;
}



#step4{
    top: 150px;
    padding: 60px;
    margin-top: 90px;
    margin-bottom: 90px;
}


#step5{
    /* width: 45%; */
    top: 75px;
    padding-left: 15px !important;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 90px;
    margin-bottom: 90px;
    bottom: 50px;
    background-color: #c2fdfc;
    background-image: url(./Social\ media-rafiki.svg);
    background-repeat: no-repeat;
    background-position: right top;
    /* background-size: 400px 518px; */
}

#step5 a{
    display: inline-block;
    align-self: none;
    width: 175px;
    padding: 1rem 1.5rem;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 0 0 5px #D8E1E8 ;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
    color :#12caab !important;
    border: 2px solid #12caab;
}
#step5 a:hover{
    cursor: default;
    color: white !important;
    background-color: #12caab;
}


.input-path{
    box-shadow: 0 0 4px #D8E1E8;
    width: 100%;
    font-size: 1.3rem;
    margin: -2;
    display: inline;
    padding: 0.5rem 1rem;
    height: 54px;
    /* border-radius: 5px; */
    margin-top: 20px;
    border: 1px solid #ddd !important   ;    
}
.input-path{
    display: flex;
}

.red{
border: 1px solid red;
color: red !important;
}
.red:hover{
    background-color: red;
}

.repere{
   margin: -1;
   border: 1px solid #ddd !important;
}

#snackbar{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    height: 55px !important;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 4;
    left: 65%;
    bottom: 50px;
    font-size: 15px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 10s;
    animation:   fadein 0.5s, fadeout 0.5s 10s;
}

#login-sidebar{
    background-color: #087876;
    float: right;
    margin: 5px 25px 0px 5px;
    border-radius: 5px;
}

#signup-sidebar{
    background-color: #087876;
    float: right;
    margin: 5px 5px 0px 5px;
    border-radius: 5px;
}



#login-sidebar:hover{
    background-color: #055857;
}

#signup-sidebar:hover{
    background-color: #055857;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.eye{
    width: 20px; 
    height:20px;
    float: right;
    cursor: pointer;
}

.eye-span{
    padding-right:50px;
}

